.countainer {
    background-color: #1E1E30;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}


.form {
    background-color: #38394E;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;

}

.form h1 {
    font-family:Oxygen;
    color: white;
    display: flex;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    margin-top: 70px;
}

.form input {
    background-color: #5A5B70;
    height: 40px;
    border: 1px solid #5A5B70;
    border-radius: 5px;
    margin-left: 50px; 
    width: 290px;
    box-sizing: border-box;
color: white;
font-weight: 500;
font-size: 20px;
}

.inp1 {
    margin-top: 25px;
}

.inp2 {
    margin-top: 15px;
}

.form button {
    background-color: #C035A2;
    border: 1px solid #C035A2;
    color: white;
    width: 290px;
    box-sizing: border-box;
    height: 40px;
    border-radius: 5px;
    margin-top: 40px;
    margin-left: 50px;
}

.imgDiv {
    width: 400px;
    height: 400px;
    background-color: white;
}
.img{
    margin-top: 40px;
    margin-left: 20px;
}
@media (max-width:768px){
    .countainer{
        width: 100%;
        height: 100vh;
        background-color: #1E1E30;
        flex-direction: column-reverse;
        box-sizing: border-box;
    }
    
    .form{
        background-color: #1E1E30;
     width: 208px;
     box-sizing: border-box;
     margin-left: 0px;

     
    }
    .form h1{
        font-size: 24px;
    }
    .form input{
        width: 208px;
        margin-left: 0px;
        height: 29px;
        margin-top: 14px;
    }
    .form button{
        width: 100px;
        margin-top: 20px;
        margin-left: 0px;
        width: 208px;
        height: 29px;
    }
    .img{
        margin-top: 0px;
        margin-left: 0px;
        background-color: #1E1E30;
        width: 174px;
        height: 153px;

    }

    .imgDiv{
        width: 174px;
        height: 153px;
    }
}
